$sectionTitleColor: #2ddf5c;
$antonFont: 'Anton', sans-serif;

.section-title {
    color: $sectionTitleColor;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: $antonFont;
}
