$sectionTitleColor: #2ddf5c; 
$antonFont: 'Anton', sans-serif;

.section-title {
    color: $sectionTitleColor;
    text-align: center;
}

#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 0px solid #424242;
    border-radius: 50%;
    margin:auto;
}