#product-overview {
  background: url("../../images/freedom.jpg");
  width: 99%;
  padding: 10px;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}
